<!DOCTYPE html>
{%load static%}
{% load widget_tweaks %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RPML technologies</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% for i in head%}
  <!-- Favicons -->
  <link href="{{i.title_icon.url}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/remixicon/remixicon.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/venobox/venobox.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/aos/aos.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static "assets/css/style.css"%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v1.1.1
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">

          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/" class="logo mr-auto"><img src="{{i.logo.url}}" alt=""></a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li class="drop-down"><a href="">Digital Transformation</a>
                <ul>
                  <li><a href="/big-data">Big Data</a></li>
                  <li><a href="/data-science">Data Sciences & Analytics</a></li>
                  <li><a href="/social-media">Social Media Services</a></li>
                  <li><a href="/automations">Automation Anywhere</a></li>
                  <li><a href="/cloud"> Cloud Services</a></li>
                  <li><a href="/mobility">Mobility Services</a></li>
                  <li><a href="/robotics">Robotic Process Automation</a></li>
                </ul>
              </li>


              <li class="drop-down"><a href="/it-outsourcing">IT Outsourcing</a>
                <ul>
                  <li><a href="/it-outsourcing">Applications Services</a></li>

                  <li><a href="/ims">Infrastructure Management Services</a></li>
                  <li><a href="/testing">Testing Services</a></li>
                  <li><a href="/managed">managed Services</a></li>
                    <li><a href="/enterprise">Enterprise Modernization</a></li>
                      <li><a href="/captive">Captive Insourcing</a></li>
                        <li><a href="/strategic">Strategic Consulting </a></li>
                          <li><a href="/outsourced">Outsourced Product Development </a></li>
                            <li><a href="/system">System Integration </a></li>
                            <li><a href="/enterprise-solution">Enterprise Solutions </a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="">Technology</a>
                <ul>
                  <li><a href="/sap">SAP</a></li>
                  <li><a href="/IBM-solution">IBM</a></li>
                  <li><a href="/Oracle-solutions">Oracle</a></li>
                  <li><a href="/MS-solutions">Microsoft Solution</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="">Resources</a>
                <ul>
                  <li><a href="#">Blogs</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Events</a></li>
                </ul>
              </li>
              <li><a href="/#about">About</a></li>
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#contact" class="get-started-btn scrollto">Contact</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5">
              <h1>Get more than what you think from RPML Technologies</h1>
              <h2>We are dedicate toward your goal</h2>
              <a href="/#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>Our Passion, Your Business</h3>
              <p>
              RPML Technologies, one of the largest technologies service providers globally, brings the right set of people, technologies and domain. The pace at which technology is evolving and the opportunities it is offering continue to dazzle us. Ours is an impatient quest for innovation for new approaches, solutions and answers to business problems and challenges. We are always driven and motivated by the delight of making a difference and that originality is intertwined in our culture. New ideas spur and new possibilities emerge with RPML Technologies as your Partner.
              </p>
              <a href="/about" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Trusted Franchise</h4>
                  <p>As a business structure, a franchise can certainly be an appealing option. With a number of advantages, it is often the choice of those looking to start a new business without the risks associated with going out on their own.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Customer Support</h4>
                  <p>We provided to assist customers in making cost effective and correct use of a product. It includes assistance in planning, installation, training, trouble shooting, maintenance, upgrading, and disposal of the product.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Analysis</h4>
                  <p>We will include an accurate description of the technology market and thorough market research. We conveys a holistic picture of a technology market. In Our company consists of different areas in which information is collected and analyzed.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Quality</h4>
                  <p>there’s a substantial body of research on quality, disagreement remains as to the effect of reliability, or things gone wrong, as opposed to customization, or things gone right, on customer satisfaction with goods and Products.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="icofont-computer"></i>
              <h4><a href="/it-outsourcing">IT Outsourcing</a></h4>
              <p>Choose RPML as your strategic AMS partner to successfully manage your application portfolio :</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="/automation">Digital Transformations</a></h4>
              <p>The exponential growth in data is here to stay. Big data is not just a buzzword anymore, but a new reality of the business framework</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="icofont-image"></i>
              <h4><a href="MS-solutions">Microsoft Solutions</a></h4>
              <p>Microsoft’s Business Intelligence (BI) solution has evolved over the last decade to its position as a leading platform, as businesses continue to wrestle with increased data and the need to manage it better</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="icofont-settings"></i>
              <h4><a href="IBM-solution">IBM Solutions</a></h4>
              <p>IBM Centers of Excellence offers a variety of services and solutions for your business needs:</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="icofont-earth"></i>
              <h4><a href="/MS-tech">Oracle Solutions</a></h4>
                <p> RPML provides a broad range of Microsoft technology services to help our clients drive excellence and business value in applications driven by Microsoft technology.</p>
            </div>

          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
              <i class="icofont-tasks-alt"></i>
              <h4><a href="/robotics">Technologies Solutions</a></h4>
              <p>Change is good. It’s your intrepid journey from “We’ve always done it this way” to “Let’s do it differently this time.” Change is moving ahead with time. It is progress</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>We Also Provide</h2>
          <div id="pro" class="provide">

              <img src="{%static "images/web.jpg"%}" alt="">

  <p>Web Development</p>
          </div>
        </div>
        <div id=""class="provide">

            <img src="{%static "images/apps.jpg"%}" alt="">

<p>Apps Depelopment</p>
        </div>
      </div>
      <div class="provide">

          <img src="{%static "images/graphics.jpg"%}" alt="">

<p>Graphic Designing</p>
      </div>
    </div>
    <div class="provide">

        <img src="{%static "images/software.jpg"%}" alt="">

<p>Software Development</p>
    </div>
  </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static "images/app1.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>stream app</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{%static "images/app1.png"%}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="/#about" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static "images/web1.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 1</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{%static "images/web1.png"%}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="/#contact" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static "images/app2.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{%static "images/app2.png"%}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="/#contact" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static "images/web2.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{%static "images/web2.png"%}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="/#contact" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static "images/app3.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{%static "images/app3.png"%}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="/#contact" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static "images/web3.png"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>web31</h4>
                <p>CRM</p>
                <div class="portfolio-links">
                  <a href="{%static "images/web3.png"%}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="/#contact" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>





        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Trending Topics</h2>
          <p>IT’S TIME TO TAKE THE JUMP. IT’S TIME TO EMBRACE THE CHANGE WITH RPML Technologies.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              {% for h in head|slice:":3"%}
              <h3>{{h.trending_title}}</h3>
              <h4></h4>
            <img src="{{h.trending_image.url}}" alt="">
            <h4>{{h.trending_discription}}</h4>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Know More</a>
                {%endfor%}
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list" data-aos="fade-up">

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">What can you help me with? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
              With whatever we can. Preparing cost analysis, establishing team roles, creating roadmaps. Defining business goals, key business values, target users, main features, prioritising. We can find you similar projects that are already active on the market to benchmark against. We can assist you with creating user personas, mock-ups, user stories, time frame, establishing project status and preparing project estimation. We'll be happy to outline project specification, prepare wireframes, details concerning integrations with external services, API documentation, required features list.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">How do I create a product with you?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                If you have an idea contact us by our online form, e-mail or phone. We'll meet and talk it over. Just be sure to prepare as much info about your idea as possible, it will smoothen the meeting and benefit further cooperation.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Should I create a mobile or a web app? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
              Both have their benefits and flaws. Mobile apps are surely more expensive but can provide you with many more data collecting, monetisation capabilities than web applications. Progressive Web Apps are a good compromise between a mobile and web app — you can  learn more about PWA on our blog. But remember that sooner or later you may need both mobile and web app and when that moment comes we are here for you :)
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">What do I need to know before contacting you?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
Well, the most important thing to know is what do you want to accomplish. Why do I need this software? What for? What should it do? Having a clear vision in mind is crucial when ordering a software application. You don't want to spend many months developing it with us without being sure what you need.              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">How do you guarantee product quality? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
We evaluate the result after every two weeks, we test our work (we conduct both development and acceptance tests), we present it to you, we apply your feedback so you know you get what you are paying for.              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed"> How can I be sure you work at my project as much as you declare? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
We thoroughly monitor our developers and control how much time they spend on each task down to the exact minute. We use Harvest software and Redmine to track time spent on your project.              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>We may be strong as individuals but together we are invincible.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{%static "images/ceo.png"%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dinesh Kumar</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{%static "images/ceo.png"%}" class="img-fluid" alt="">
                <div class="social">
                  <a href="http://twitter.com/awanishsisodiya"target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="http://fb.com/awanishh"target="_blank"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="http://www.linkedin.com/in/awanish-kumar-0318b01a5" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Awanish Kumar</h4>
                <span>Project Manager & BA</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{%static "images/ceo.png"%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Priyanka Gupta</h4>
                <span>Mobile App developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{%static "images/ceo.png"%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dipak Rekhate</h4>
                <span>Web Developer</span>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>

    <!-- ======= Team Section ======= -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We are happy to be in touch with you.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Corporate Office Address :
S.N. 3/9 A/9 Durvankurniwas, Ektacolony, Warje,
Pune - 411058, (M.H.) INDIA</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@rpmltech.com<br>contact@rpmltech.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 9960841818</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form  method="post" class="php-email-form"enctype="multipart/form-data">
              {%csrf_token%}
              <div class="form-row">
                <div class="col form-group">
                    {% render_field form.Name class="form-control" id="name" placeholder="Your Name" %}

                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  {% render_field form.Email class="form-control" id="email" placeholder="Your Email" %}
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                  {% render_field form.Subject class="form-control" id="subject" placeholder="Subject" %}
                <div class="validate"></div>
              </div>
              <div class="form-group">
                {% render_field form.Message class="form-control" rows="5" id="subject" placeholder="Message" %}
                <div class="validate"></div>
              </div>

              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="/" class="logo mr-auto"><img src="{{i.logo.url}}" alt=""></a><span></span>
            <p>
               Corporate Office Address : <br>
            S.N. 3/9 A/9 Durvankurniwas, Ektacolony, Warje,<br>
              Pune - 411058, (M.H.) INDIA <br><br>
              <strong>Phone:</strong> +91 9960841818<br>
              <strong>Email:</strong> info@rpmltech.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/it-outsourcing">IT Outsourcing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/automation">Digital Transformation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/MS-solutions">Microsoft Solutions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/IBM-solution">IBM Solutions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/MS-tech">Oracle Solutions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/robotics">Technologies Solutions</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Subscribe Us</h4>
            <p></p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>RPML Technologies</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static "assets/vendor/jquery/jquery.min.js"%}"></script>
  <script src="{%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{%static "assets/vendor/jquery.easing/jquery.easing.min.js"%}"></script>
  <script src="{%static "assets/vendor/php-email-form/validate.js"%}"></script>
  <script src="{%static "assets/vendor/owl.carousel/owl.carousel.min.js"%}"></script>
  <script src="{%static "assets/vendor/waypoints/jquery.waypoints.min.js"%}"></script>
  <script src="{%static "assets/vendor/counterup/counterup.min.js"%}"></script>
  <script src="{%static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{%static "assets/vendor/venobox/venobox.min.js"%}"></script>
  <script src="{%static "assets/vendor/aos/aos.js"%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static "assets/js/main.js"%}"></script>
{%endfor%}
</body>

</html>
